SMARTDOCS_BIND_ADDRESS=0.0.0.0
SMARTDOCS_WEB_PORT=3003
SMARTDOCS_ALLOWED_ORIGINS=http://127.0.0.1:3003,http://localhost:3003
SMARTDOCS_NER_MODE=required
SMARTDOCS_NER_MODEL_PATH=.models/roberta-base-bne-capitel-ner-plus
TRANSFORMERS_OFFLINE=1
HF_HUB_OFFLINE=1
SMARTDOCS_FEATURE_PDF=false
SMARTDOCS_FEATURE_IMAGE_OCR=false
SMARTDOCS_FEATURE_WEBADMIN=false
